<!--<mat-chip-list style="margin-top: 40px">-->
<!--<mat-chip *ngFor="let tagName of tagCount" selected-->
<!--[removable]="removable">-->
<!--{{tagName.tag.name}}-->
<!--&lt;!&ndash;<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>&ndash;&gt;-->
<!--</mat-chip>-->
<!--</mat-chip-list>-->

<!--<div>-->
<!--<mat-form-field style="margin-top: 40px">-->
<!--<mat-chip-list #chipList>-->
<!--<mat-chip *ngFor="let filter of filters" color="primary">{{filter}}</mat-chip>-->
<!--&lt;!&ndash;<input [matChipInputFor]="chipList">&ndash;&gt;-->
<!--</mat-chip-list>-->
<!--</mat-form-field>-->
<!--</div>-->
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
        <mat-chip
                *ngFor="let stringTag of filters"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(stringTag)"
                style="background-color: #3f51b5;color: white;">
            {{stringTag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
                placeholder="add tag..."
                #tagInput
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

