<nav class="navbar" style="background-color: #b66ff7">
  <span class="navbar-brand" style="color:black">DataScience Personal Assistant - BETA</span>
</nav>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div style="margin-right: 30px">
            <app-search-box></app-search-box>
            <app-suggestedfilter></app-suggestedfilter>
            <app-search-results></app-search-results>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-snippet-detail></app-snippet-detail>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--<router-outlet></router-outlet>-->
<!--<app-messages></app-messages>-->
